{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "classes": true
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "indent": [2, 2]
  }
}
